django
djangorestframework
djangorestframework-simplejwt
PyJWT
cryptography
Pillow
celery 
redis 
django-celery-beat
gevent
python-dotenv
django-celery-results
django-cors-headers
django-redis
django-ratelimit
dj-database-url
pycryptodome
psycopg2
psycopg2-binary